<!DOCTYPE html>
<html lang="ko">
<head>
  <title>익스프레스</title>
  <link rel="stylesheet" href="../css/style.css">
  <script>
    console.log('this is log');
  </script>
  <style>
    #id_test{
      color:blue;
    }
    #id_test2{
      color:red;
    }
    .class_test{
      font-size : 25px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Tag H1</h1>
  <span class="class_test">Span</span>
  <p id="id_test2">p tag</p>
  <div id="id_test">div1</div>
  <div class="class_test">div2</div>
  <form id="login" method="POST" action="submit.do">
    <button type="submit">전송</button>
  </form>
  <p>
    Hello
    world
    <br>
    Hello
    Express
  </p>
</body>
</html>