@charset "UTF-8";
*{margin : 0; padding : 0;}
#main_box{
	width:500px;
	margin:auto;
}

#main_box h1{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	color:white;
	text-shadow:2px 2px 2px black;
}

.visit_box{
	margin-top:30px;
	box-shadow:2px 2px 2px black ;
	border:2px solid black;
}

.type_content{
	min-height:100px;
	height:auto;
	background:#fcc;
}

.type_name{
	background:#cfc;
}

.type_regdate{
	background:#ccf;
}