<!-- 문서에서 공통되는 부분을 레이아웃으로 정하여 extends를 통해 확장할 수 있다.-->
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>익스프레스</title>
  <link rel="stylesheet" href="../css/style.css">
  <script>
    console.log('this is log');
  </script>
</head>
<body>
  <!-- //include를 통해 다른 html파일을 넣을 수 있다. 공통되는 부분을 따로 관리할 수 있다.-->
  {% include "header.html" %}
  <main>
    <p>이곳은 content1가 들어가는 곳입니다.</p>
    <!--block : 공통된 마크업을 넣되 페이지마다 달라지는 부분을 block으로 비워둔다
    나중에 익스프에스에서 res.render('body')를 사용하여 하나의 HTML로 합쳐 렌더링 할 수 있다-->
    {% block content1 %}
    {% endblock %}
    <p>이곳은 content2가 들어가는 곳입니다.</p>
    {% block content2 %}
    {% endblock %}
  </main>
  {% include "footer.html" %}
</body>
</html>
