<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><!-- Note:  A "Server" is not itself a "Container", so you may not
     define subcomponents such as "Valves" at this level.
     Documentation at /docs/config/server.html
 --><Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <!-- Security listener. Documentation at /docs/config/listeners.html
  <Listener className="org.apache.catalina.security.SecurityListener" />
  -->
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener"/>
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
    -->
    <Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
  </GlobalNamingResources>

  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container",
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">

    <!--The connectors can use a shared executor, you can define one or more named thread pools-->
    <!--
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="150" minSpareThreads="4"/>
    -->


    <!-- A "Connector" represents an endpoint by which requests are received
         and responses are returned. Documentation at :
         Java HTTP Connector: /docs/config/http.html
         Java AJP  Connector: /docs/config/ajp.html
         APR (HTTP/AJP) Connector: /docs/apr.html
         Define a non-SSL/TLS HTTP/1.1 Connector on port 8080
    -->
    <Connector connectionTimeout="20000" port="9090" protocol="HTTP/1.1" redirectPort="8443"/>
    <!-- A "Connector" using the shared thread pool-->
    <!--
    <Connector executor="tomcatThreadPool"
               port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443" />
    -->
    <!-- Define an SSL/TLS HTTP/1.1 Connector on port 8443
         This connector uses the NIO implementation. The default
         SSLImplementation will depend on the presence of the APR/native
         library and the useOpenSSL attribute of the
         AprLifecycleListener.
         Either JSSE or OpenSSL style configuration may be used regardless of
         the SSLImplementation selected. JSSE style configuration is used below.
    -->
    <!--
    <Connector port="8443" protocol="org.apache.coyote.http11.Http11NioProtocol"
               maxThreads="150" SSLEnabled="true">
        <SSLHostConfig>
            <Certificate certificateKeystoreFile="conf/localhost-rsa.jks"
                         type="RSA" />
        </SSLHostConfig>
    </Connector>
    -->
    <!-- Define an SSL/TLS HTTP/1.1 Connector on port 8443 with HTTP/2
         This connector uses the APR/native implementation which always uses
         OpenSSL for TLS.
         Either JSSE or OpenSSL style configuration may be used. OpenSSL style
         configuration is used below.
    -->
    <!--
    <Connector port="8443" protocol="org.apache.coyote.http11.Http11AprProtocol"
               maxThreads="150" SSLEnabled="true" >
        <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol" />
        <SSLHostConfig>
            <Certificate certificateKeyFile="conf/localhost-rsa-key.pem"
                         certificateFile="conf/localhost-rsa-cert.pem"
                         certificateChainFile="conf/localhost-rsa-chain.pem"
                         type="RSA" />
        </SSLHostConfig>
    </Connector>
    -->

    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <!--
    <Connector protocol="AJP/1.3"
               address="::1"
               port="8009"
               redirectPort="8443" />
    -->

    <!-- An Engine represents the entry point (within Catalina) that processes
         every request.  The Engine implementation for Tomcat stand alone
         analyzes the HTTP headers included with the request, and passes them
         on to the appropriate Host (virtual host).
         Documentation at /docs/config/engine.html -->

    <!-- You should set jvmRoute to support load-balancing via AJP ie :
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="jvm1">
    -->
    <Engine defaultHost="localhost" name="Catalina">

      <!--For clustering, please take a look at documentation at:
          /docs/cluster-howto.html  (simple how to)
          /docs/config/cluster.html (reference documentation) -->
      <!--
      <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>
      -->

      <!-- Use the LockOutRealm to prevent attempts to guess user passwords
           via a brute-force attack -->
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <!-- This Realm uses the UserDatabase configured in the global JNDI
             resources under the key "UserDatabase".  Any edits
             that are performed against this UserDatabase are immediately
             available for use by the Realm.  -->
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
      </Realm>

      <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">

        <!-- SingleSignOn valve, share authentication between web applications
             Documentation at: /docs/config/valve.html -->
        <!--
        <Valve className="org.apache.catalina.authenticator.SingleSignOn" />
        -->

        <!-- Access log processes all example.
             Documentation at: /docs/config/valve.html
             Note: The pattern used is equivalent to using pattern="common" -->
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="localhost_access_log" suffix=".txt"/>

      <Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\ROOT" path="" reloadable="false"/><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\Ex_0518_Grade" path="/Ex_0518_Grade" reloadable="true" source="org.eclipse.jst.jee.server:Ex_0518_Grade">
	<!-- DB접속에 관련된 정보를 미리 준비해두고 참조해서 사용하기위한 context.xml과 같은 파일을 JNDI(Java naming directory interface)라고 한다. -->
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" factory="org.apache.commons.dbcp.BasicDataSourceFactory" maxActive="10" maxIdle="10" maxWait="1" name="jdbc/oracle_test" password="1111" type="javax.sql.DataSource" url="jdbc:oracle:thin:@localhost:1521:xe" username="TEST2"/>	
      		<!--maxActive : 최대 연결 수 
      		만약 오라클DB에 연결하는 시간이 1초라고 가정하면 10번째 접속자는 10초 뒤에나 정보를 받을 수 있다.
      		따라서 미리 몇명을 받아들일 지 결정해두고 대기시간 없이 스레드를 사용하여 접속자에 대한 처리를 하는 개념을 DBCP라고 한다.
      		DBCP(Database connection pool)
      		
      		maxWait : db연결까지 최대 n초 기다려줌, -1이면 무한
      		 -->
</Context><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\Ex_0519_Grade" path="/Ex_0519_Grade" reloadable="true" source="org.eclipse.jst.jee.server:Ex_0519_Grade"/><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\Ex_0520_Member" path="/Ex_0520_Member" reloadable="true" source="org.eclipse.jst.jee.server:Ex_0520_Member">
	<!-- DB접속에 관련된 정보를 미리 준비해두고 참조해서 사용하기위한 context.xml과
	 같은 파일을 JNDI( java naming directory interface )하고 한다 -->
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" factory="org.apache.commons.dbcp.BasicDataSourceFactory" maxActive="10" maxIdle="10" maxWait="1" name="jdbc/oracle_test" password="1111" type="javax.sql.DataSource" url="jdbc:oracle:thin:@localhost:1521:xe" username="test2"/>
      		<!-- maxActive : 최대연결수
      		     만약 오라클에 연결하는 시간이 1초라고 가정하면 10번째 접속자는 10초 뒤에나
      		   정보를 받을 수 있다는 이야기가 된다. 따라서 미리 몇명을 받아들일지 결정해 두고
      		   대기시간 없이 스레스를 사용하여 접속자에 대한 처리를 하는 개념을 
      		   DBCP( database connection pool )라고 한다-->
</Context><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\01_JSP_Start" path="/01_JSP_Start" reloadable="true" source="org.eclipse.jst.jee.server:01_JSP_Start"/><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\04_Servlet" path="/04_Servlet" reloadable="true" source="org.eclipse.jst.jee.server:04_Servlet"/><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\Ex_0522_Movie" path="/Ex_0522_Movie" reloadable="true" source="org.eclipse.jst.jee.server:Ex_0522_Movie"/><Context docBase="C:\Users\asd\Desktop\Study\WEB_work\work\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\05_ResponseAndRequest" path="/05_ResponseAndRequest" reloadable="true" source="org.eclipse.jst.jee.server:05_ResponseAndRequest"/></Host>
    </Engine>
  </Service>
</Server>